@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

#root {
  text-align: center;
}

@media (max-width: 768px) {
  #root {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .main-outlet-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .icons-mobile {
    display: none;
    grid-template-columns: repeat(2, 1fr);
  }
  .matches-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .admin-mobile{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .leagues-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .manage-leagues-mobile, .match-detail-mobile, .add-player-mobile, .add-team-mobile, .matches-mobile-table, .add-match-mobile, .points-table-mobile, .next-matches-table, .single-league-components, .table-mobile {
    width: 100%;
  }
  .header-links {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
  .profile-mobile {
    width: 100%;
    max-width: 90%;
  }
  .login-component {
    width: 100%;
    max-width: 90%;
  }
  .register-component {
    width: 100%;
    max-width: 90%;
  }
  .profile-pic-mobile {
    width: 9rem;
    height: auto;
  }
  .content-container {
    min-height: 100vh;
    margin: 0;
  }
  .join-button {
    width: 100%;
  }
  .home-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-mobile-icons {
    margin: auto;
    width: 100%;
  }
  .select-goal-scorer-input {
    width: 90%;
  }
  .select-score-input {
    width: 50%;
  }
  .submit-pick-button {
    width: 100%;
  }
  .table-mobile th, .table-mobile td {
    padding: 0.16rem;
  }
  .league-details-mobile, .users-list-mobile {
    width: 100%;
  }
}

.tableHover tr:hover {
  background-color: #323c54;
}

.info-icon:hover .tooltip-text {
  display: block;
  opacity: 1;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.content-container {
  width: 90%;
  height: 100dvh;
}

.form-input {
  margin: 1rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.25rem;
  color: black;
  width: 100%;
}

.form-button {
  padding: 0.5rem;
  border: 1px solid white;
  cursor: pointer;
  width: 100%;
  font-family: Poppins, sans-serif;
  border-radius: 1rem;
}

.login-component, .register-component, .manage-leagues, .your-leagues, .profile-component, .single-league-components, .next-matches-table, .points-table, .single-match, .league-data-component {
  border-radius: 1rem;
}

.button {
  padding: 0.5rem;
  border: 1px solid white;
  cursor: pointer;
  width: 100%;
  font-family: Poppins, sans-serif;
  border-radius: 1rem;
}

.admin-button {
  padding: 0.5rem;
  border: 1px solid white;
  cursor: pointer;
  width: 50%;
  font-family: Poppins, sans-serif;
  border-radius: 1rem;
}

.join-button {
  padding: 0.5rem;
  border: 1px solid white;
  cursor: pointer;
  width: 30%;
  font-family: Poppins, sans-serif;
  border-radius: 1rem;
}

.submit-pick-button {
  padding: 0.5rem;
  border: 1px solid white;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  border-radius: 1rem;
}

.poppins-font {
    font-family: Poppins, sans-serif;
}

.tr-alin:last-child td {
  border-bottom: none;
}




