#root {
  text-align: center;
}

@media (max-width: 768px) {
  #root {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .matches-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .admin-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .leagues-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .manage-leagues-mobile {
    width: 90%;
  }
  .match-detail-mobile {
    width: 90%;
  }
  .add-player-mobile {
    width: 90%;
  }
  .add-team-mobile {
    width: 90%;
  }
  .matches-mobile-table {
    width: 90%;
  }
  .add-match-mobile {
      width: 90%;
  }
  .points-table-mobile {
    width: 90%;
  }

  .header-links {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
  .profile-mobile {
    width: 100%;
    max-width: 90%;
  }
  .login-component {
    width: 100%;
    max-width: 90%;
  }
  .register-component {
    width: 100%;
    max-width: 90%;
  }
  .points-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}

.tableHover tr:hover {
  background-color: #323c54;
}

.info-icon:hover .tooltip-text {
  display: block;
  opacity: 1;
}

